@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");

:root {
  --gold-color: #efc69b;
  --secondary-color: #af1b3f;
  --dark-color: #473144;
  --text-dark: #333;
  --text-light: #ebebeb;
  --body-font: Arial, Helvetica, sans-serif;
  --headline-font: Mooli, san-serif;
}

.skiptocontent a {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--secondary-color);
  color: black;
  padding: 8px 16px;          
  text-decoration: none;
  font-weight: bold;
  z-index: 1000; 
}

.skiptocontent a:focus {
  top: 10px;
}

h2 {
  text-align: center;
  color: var(--dark-color);;
}

h1 {
  font-family: var(--headline-font);
  text-align: center;
  color: var(--dark-color);
  margin-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Main content and sidebar */
.content-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.review {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

.tomatoes {
  width: 300px;
  text-align: right;
  font-size: 0.9rem;
  color: var(--text-dark);
  border-right: 1px solid var(--gold-color);
  padding-right: 1rem;
}

.review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  border: 1px solid var(--gold-color);
  padding: 1rem;
  font-size: 0.95rem;
  margin-right: 5rem;
  color: var(--dark-color);
}

header {
  text-align: center;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Push navbar items to the right */
  align-items: center;
  border-top: 1px solid var(--gold-color);
  border-bottom: 1px solid var(--gold-color);
  padding: 0.5rem 1rem; /* Optional: add some spacing inside navbar */
}

.navbar ul {
  display: flex; /* Layout list items in a row */
  gap: .75rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}


img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--secondary-color);
  text-align: center;
}

.menu-toggle {
  display: block;
  color: var(--text-light);
  border: none;
  background: var(--secondary-color);
  margin: 1rem auto; 
}

.menu-toggle {
  display: block;
  color: var(--text-light);
  border: none;
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul.open {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul.open {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-toggle {
    display: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar li {
    width: auto;
  }

  .navbar a {
    padding: 1rem;
  }
}