@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");

:root {
  --gold-color: #efc69b;
  --secondary-color: #af1b3f;
  --dark-color: #473144;
  --text-dark: #333;
  --text-light: #ebebeb;
  --body-font: Arial, Helvetica, sans-serif;
  --headline-font: Mooli, san-serif;
}

.body-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Main content and sidebar */
  gap: 1rem;
}

.review {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.tomatoes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar li {
  width: 100%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
  padding: 0.75rem 0;
}


img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

h2 {
  text-align: center;
  padding-top: 1rem;
  color: var(--secondary-color);
}

h1 {
  font-family: var(--headline-font);
  text-align: center;
  color: var(--dark-color);
  margin-top: 0;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--text-light);
  text-align: center;
}

.menu-toggle {
  display: block;
  color: var(--text-light);
  border: none;
  background: var(--secondary-color);
  margin: 1rem auto; 
}

.menu-toggle {
  display: block;
  color: var(--text-light);
  border: none;
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul.open {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul.open {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-toggle {
    display: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar li {
    width: auto;
  }

  .navbar a {
    padding: 1rem;
  }
}